<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Username to connect to the Ring API -->
    <add key="RingUsername" value="your@email.com" />

    <!-- Password to connect to the Ring API -->
    <add key="RingPassword" value="yourpassword" />

    <!-- The two factor authentication token received through a text message. Leave empty to trigger receiving the text message or if the Ring account does not require two factor authentication. -->
    <add key="TwoFactorAuthenticationToken" value="" />
  </appSettings>
</configuration>