<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Username to connect to the Ring API -->
    <add key="RingUsername" value="your@email.com" />

    <!-- Password to connect to the Ring API -->
    <add key="RingPassword" value="yourpassword" />
  </appSettings>
</configuration>